/workall/javawork/Naver0314JavaProject/out/
/workall/image
/workall/webwork/image
/workall/javawork/Servers/src/main/webapp/shop/
.idea
target
out
Study701

.mvn

*.jpg
*.png
*.jpeg
*.gif
*.class
*.jar
*.zip
*.txt
*.doc
*.ppt